.spa {
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: 100svh;
	overflow: hidden;
}
.spa .centered {
    text-align: center;
}
.spa > .content {
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	scroll-behavior: smooth;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.spa > .content::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: transparent;
	display: none;
}
.spa .page {
	height: 100%;
	width: 100%;
	position: relative;
}
.spa .page:nth-child(even) {
	background-color: rgba(255,255,255,0.1);
}
.spa .page > div {
	position: absolute;
	top: 45%;
	left: 50%;
	/* transform: -1000px -50vh; */
	translate: -50% -50%;
	display: inline-block;
    max-height: 85%;
}
.spa .page.centered > div {
    width: 90%;
}
.spa .page .controls {
	position: absolute;
	top: unset;
	bottom: 10px;
	translate: -50% 0%;
}
.spa .controls img {
	height: 65px;
	width: 65px;
	cursor: pointer;
	-webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
	transition: all 0.2s;
	padding: 20px;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	z-index: 1000;
}
.spa .controls img:hover {
	scale: 1.5;
}
.spa .controls img:active {
	scale: 1.1;
}

.spa .page .subtitle {
    font-size: 0.8em;
    opacity: 0.8;
    font-style: italic;
}
.spa .page .pop {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 1.5em;
}
.spa .page .pop.long {
	font-size: 1.2em;
}
.spa .page .pop.longer {
	font-size: 1em;
}
.spa .page .pop.longest {
	font-size: 0.5em;
}
.spa .page .extra {
    margin-top: 1.75em;
    font-size: 0.8em;
}
.spa .page .extra * {
    opacity: 0.8;
}
.spa .page .extra .pop {
    opacity: 1;
}
.spa .page > div {
	max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.spa.paths .page {
	display: none;
}
.spa.paths .page[data-current="true"] {
	display: block;
}
.spa.paths .page:nth-child(even) {
	background-color: unset;
}

.spa .content > .controls img {
	position: absolute;
}
.spa .content > .controls .left {
	left: 0%;
	top: 50%;
	translate: 0% -50%;
}
.spa .content > .controls .right {
	right: 0%;
	top: 50%;
	translate: 0% -50%;
}
.spa .content > .controls .up {
	left: 50%;
	top: 10%;
	translate: -50% 0%;
}
.spa .content > .controls .down {
	left: 50%;
	bottom: 0%;
	translate: -50% 0%;
}
.spa .content > .controls .mobile {
	display: none;
}
@media only screen and (max-width: 800px) {
	.spa .content > .controls img {
		display: none;
	}
	.spa .content > .controls .mobile {
		display: block;
	}
	.spa .page .pop {
		margin-bottom: 0;
		padding-top: 0;
		font-size: 1.3em;
	}
	.spa .page .title {
		font-size: 0.9em;
	}
	.spa .page .justify {
		text-align: justify;
	}
	.spa .controls img {
		height: 55px;
		width: 55px;
	}
}
.spa .content > .controls .hidden {
	display: none;
}

.spa img {
	touch-action: manipulation;
	-webkit-touch-callout: none;
}
.page img[data-selected="true"] {
	border: solid 3px rgba(102, 240, 255, 0.5);
	scale: 1.2;
	padding: 10px;
}

.spa.light {
	background-color: #e7e7f6;
	color: #13133b;
}
.spa.light > header:first-child {
	text-shadow: 0 0 5px white;
	background-color: #b8b8eb;
	border-color: #CCD1F5;
	box-shadow: black 0px 0px 5px;
	z-index: 100;
}
.spa.light > header .doodle,
.spa.light > main .doodle {
	filter: invert();
}
.spa.light > main a {color: rgb(46 60 255);}
.spa.light > main a:hover {color: rgb(70, 82, 255);}
.spa.light > main a:active {color: rgb(114, 124, 255);}

.spa .content.cols {
	display: flex;
	flex-direction: row;
}
.spa .content.cols > section {
	flex-grow: 1;
	/* flex-basis: 100%; */
	overflow: scroll;
}
.spa .content.cols > section:last-child {
	/* flex-basis: 33%; */
}
@media only screen and (max-width: 800px) {
	.spa .content.cols {
		flex-direction: column;
	}
}

header.min .doodle:hover {
	scale: 1.2
}
header.min .doodle:active {
	scale: 1.1
}

.spa .page > div.full {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	position: unset;
	translate: none;
}