<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABMigratedToAccountsFramework</key>
	<true/>
	<key>_className</key>
	<string>PHXCardDAVSource</string>
	<key>aListPluginIdentifier</key>
	<string>com.apple.icloud.iaplugin</string>
	<key>disabled</key>
	<false/>
	<key>emailAddress</key>
	<string>ryanitunes@tartaglia.biz</string>
	<key>homeInfo</key>
	<dict>
		<key>/411637899/carddavhome/</key>
		<dict>
			<key>me-card</key>
			<string>https://ryanitunes%40tartaglia.biz@p05-contacts.icloud.com/411637899/carddavhome/card/E2940D1F-9DD8-44BF-B622-18899F4D009E.vcf</string>
			<key>path</key>
			<string>/411637899/carddavhome/</string>
			<key>privileges</key>
			<array>
				<string>DAV::bind</string>
				<string>DAV::read</string>
				<string>DAV::read-acl</string>
				<string>DAV::read-current-user-privilege-set</string>
				<string>DAV::write</string>
			</array>
			<key>pushTransports</key>
			<dict>
				<key>APSD</key>
				<dict>
					<key>apsbundleid</key>
					<string>com.me.contacts</string>
					<key>env</key>
					<string>PRODUCTION</string>
					<key>refresh-interval</key>
					<string>120000</string>
					<key>subscription-url</key>
					<string>https://ryanitunes%40tartaglia.biz@p05-contacts.icloud.com/411637899/mm/push/register</string>
				</dict>
			</dict>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
			</array>
			<key>supportedReports</key>
			<array>
				<string>DAV::sync-collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-multiget</string>
			</array>
			<key>url</key>
			<string>https://ryanitunes%40tartaglia.biz@p05-contacts.icloud.com/411637899/carddavhome/</string>
		</dict>
		<key>/411637899/carddavhome/card/</key>
		<dict>
			<key>bulkRequests</key>
			<dict>
				<key>crud</key>
				<dict>
					<key>delete</key>
					<true/>
					<key>insert</key>
					<true/>
					<key>max-resources</key>
					<integer>200</integer>
					<key>max-size</key>
					<integer>10485760</integer>
					<key>update</key>
					<true/>
				</dict>
				<key>simple</key>
				<dict>
					<key>insert</key>
					<true/>
					<key>max-resources</key>
					<integer>200</integer>
					<key>max-size</key>
					<integer>10485760</integer>
				</dict>
			</dict>
			<key>maxImageSize</key>
			<integer>229376</integer>
			<key>maxResourceSize</key>
			<integer>262144</integer>
			<key>path</key>
			<string>/411637899/carddavhome/card/</string>
			<key>privileges</key>
			<array>
				<string>DAV::bind</string>
				<string>DAV::read</string>
				<string>DAV::read-acl</string>
				<string>DAV::read-current-user-privilege-set</string>
				<string>DAV::write</string>
			</array>
			<key>pushKey</key>
			<string>411637899</string>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook</string>
			</array>
			<key>supportedReports</key>
			<array>
				<string>DAV::sync-collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-multiget</string>
			</array>
			<key>url</key>
			<string>https://ryanitunes%40tartaglia.biz@p05-contacts.icloud.com/411637899/carddavhome/card/</string>
		</dict>
	</dict>
	<key>lastKnownServerMeCardPath</key>
	<string>/411637899/carddavhome/card/E2940D1F-9DD8-44BF-B622-18899F4D009E.vcf</string>
	<key>lastPushSubscription</key>
	<date>2015-10-03T13:36:15Z</date>
	<key>name</key>
	<string>iCloud</string>
	<key>principalInfo</key>
	<dict>
		<key>DAV::displayname</key>
		<string>Ryan Tartaglia</string>
		<key>DAV::principal-URL</key>
		<string>https://ryanitunes%40tartaglia.biz@p05-contacts.icloud.com/411637899/principal/</string>
		<key>urn:ietf:params:xml:ns:carddav:addressbook-home-set</key>
		<array>
			<string>https://ryanitunes%40tartaglia.biz@p05-contacts.icloud.com/411637899/carddavhome/</string>
		</array>
	</dict>
	<key>pushRefreshInterval</key>
	<real>120000</real>
	<key>searchable</key>
	<false/>
	<key>serverName</key>
	<string>p05-contacts.icloud.com</string>
	<key>serverRootPath</key>
	<string>/411637899/principal/</string>
	<key>servername</key>
	<string>https://p05-contacts.icloud.com/411637899/principal/</string>
	<key>useSSL</key>
	<true/>
	<key>userName</key>
	<string>ryanitunes@tartaglia.biz</string>
	<key>username</key>
	<string>ryanitunes@tartaglia.biz</string>
</dict>
</plist>
