<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABMigratedToAccountsFramework</key>
	<true/>
	<key>_className</key>
	<string>PHXCardDAVSource</string>
	<key>aListPluginIdentifier</key>
	<string>com.apple.google.iaplugin</string>
	<key>acAccountIdentifier</key>
	<string>2A67767E-815D-435C-BA6A-186CCD2B95CD</string>
	<key>acAccountTypeIdentifier</key>
	<string>com.apple.account.Google</string>
	<key>disabled</key>
	<false/>
	<key>emailAddress</key>
	<string>ryan@tartaglia.biz</string>
	<key>homeInfo</key>
	<dict>
		<key>/carddav/v1/principals/ryan%40tartaglia.biz/lists/</key>
		<dict>
			<key>displayName</key>
			<string>Homeset</string>
			<key>path</key>
			<string>/carddav/v1/principals/ryan%40tartaglia.biz/lists/</string>
			<key>privileges</key>
			<array>
				<string>DAV::read</string>
				<string>DAV::read-acl</string>
				<string>DAV::read-current-user-privilege-set</string>
				<string>DAV::unlock</string>
				<string>DAV::write</string>
				<string>DAV::write-acl</string>
			</array>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
			</array>
			<key>supportedReports</key>
			<array>
				<string>DAV::acl-principal-prop-set</string>
				<string>DAV::expand-property</string>
				<string>DAV::principal-match</string>
				<string>DAV::principal-property-search</string>
				<string>DAV::principal-search-property-set</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-multiget</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-query</string>
			</array>
			<key>url</key>
			<string>https://ryan%40tartaglia.biz@google.com/carddav/v1/principals/ryan%40tartaglia.biz/lists/</string>
		</dict>
		<key>/carddav/v1/principals/ryan%40tartaglia.biz/lists/default/</key>
		<dict>
			<key>displayName</key>
			<string>Address Book</string>
			<key>path</key>
			<string>/carddav/v1/principals/ryan%40tartaglia.biz/lists/default/</string>
			<key>privileges</key>
			<array>
				<string>DAV::read</string>
				<string>DAV::read-acl</string>
				<string>DAV::read-current-user-privilege-set</string>
				<string>DAV::unlock</string>
				<string>DAV::write</string>
				<string>DAV::write-acl</string>
			</array>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook</string>
			</array>
			<key>supportedReports</key>
			<array>
				<string>DAV::acl-principal-prop-set</string>
				<string>DAV::expand-property</string>
				<string>DAV::principal-match</string>
				<string>DAV::principal-property-search</string>
				<string>DAV::principal-search-property-set</string>
				<string>DAV::sync-collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-multiget</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-query</string>
			</array>
			<key>url</key>
			<string>https://ryan%40tartaglia.biz@google.com/carddav/v1/principals/ryan%40tartaglia.biz/lists/default/</string>
		</dict>
	</dict>
	<key>name</key>
	<string>Google</string>
	<key>principalInfo</key>
	<dict>
		<key>DAV::displayname</key>
		<string>Principal</string>
		<key>DAV::principal-URL</key>
		<string>https://ryan%40tartaglia.biz@google.com/carddav/v1/principals/ryan%40tartaglia.biz/</string>
		<key>urn:ietf:params:xml:ns:carddav:addressbook-home-set</key>
		<array>
			<string>https://ryan%40tartaglia.biz@google.com/carddav/v1/principals/ryan%40tartaglia.biz/lists/</string>
		</array>
		<key>urn:ietf:params:xml:ns:carddav:directory-gateway</key>
		<array>
			<string>https://ryan%40tartaglia.biz@google.com/carddav/v1/principals/ryan%40tartaglia.biz/lists/gal/</string>
		</array>
	</dict>
	<key>searchInfo</key>
	<dict>
		<key>addMemberURL</key>
		<string>https://ryan%40tartaglia.biz@google.com/carddav/v1/principals/ryan%40tartaglia.biz/lists/default/</string>
		<key>displayName</key>
		<string>Global Address List</string>
		<key>path</key>
		<string>/carddav/v1/principals/ryan%40tartaglia.biz/lists/gal/</string>
		<key>privileges</key>
		<array>
			<string>DAV::read</string>
			<string>DAV::read-acl</string>
			<string>DAV::read-current-user-privilege-set</string>
			<string>DAV::unlock</string>
			<string>DAV::write</string>
			<string>DAV::write-acl</string>
		</array>
		<key>resourceTypes</key>
		<array>
			<string>DAV::collection</string>
			<string>urn:ietf:params:xml:ns:carddav:addressbook</string>
			<string>urn:ietf:params:xml:ns:carddav:directory</string>
		</array>
		<key>supportedReports</key>
		<array>
			<string>DAV::acl-principal-prop-set</string>
			<string>DAV::expand-property</string>
			<string>DAV::principal-match</string>
			<string>DAV::principal-property-search</string>
			<string>DAV::principal-search-property-set</string>
			<string>DAV::sync-collection</string>
			<string>urn:ietf:params:xml:ns:carddav:addressbook-multiget</string>
			<string>urn:ietf:params:xml:ns:carddav:addressbook-query</string>
		</array>
		<key>url</key>
		<string>https://ryan%40tartaglia.biz@google.com/carddav/v1/principals/ryan%40tartaglia.biz/lists/gal/</string>
	</dict>
	<key>searchable</key>
	<true/>
	<key>serverName</key>
	<string>google.com</string>
	<key>serverRootPath</key>
	<string>/carddav/v1/principals/ryan%40tartaglia.biz/</string>
	<key>servername</key>
	<string>https://google.com/carddav/v1/principals/ryan%40tartaglia.biz/</string>
	<key>useSSL</key>
	<true/>
	<key>userName</key>
	<string>ryan@tartaglia.biz</string>
	<key>username</key>
	<string>ryan@tartaglia.biz</string>
</dict>
</plist>
