<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABMigratedToAccountsFramework</key>
	<true/>
	<key>_className</key>
	<string>PHXCardDAVSource</string>
	<key>aListPluginIdentifier</key>
	<string>com.apple.facebook.iaplugin</string>
	<key>acAccountIdentifier</key>
	<string>37615812-911F-429B-8445-49DBD6F00060</string>
	<key>acAccountTypeIdentifier</key>
	<string>com.apple.facebook</string>
	<key>disabled</key>
	<false/>
	<key>emailAddress</key>
	<string>ryan@tartaglia.biz</string>
	<key>homeInfo</key>
	<dict>
		<key>/100008302478320/contacts/</key>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>me-card</key>
			<string>https://ryan%40tartaglia.biz@webdav.facebook.com/100008302478320/contacts/addressbook/100008302478320.vcf</string>
			<key>path</key>
			<string>/100008302478320/contacts/</string>
			<key>privileges</key>
			<array>
				<string>DAV::read</string>
			</array>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
			</array>
			<key>url</key>
			<string>https://ryan%40tartaglia.biz@webdav.facebook.com/100008302478320/contacts/</string>
		</dict>
		<key>/100008302478320/contacts/addressbook/</key>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>path</key>
			<string>/100008302478320/contacts/addressbook/</string>
			<key>privileges</key>
			<array>
				<string>DAV::read</string>
			</array>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook</string>
			</array>
			<key>supportedReports</key>
			<array>
				<string>DAV::sync-collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-multiget</string>
			</array>
			<key>url</key>
			<string>https://ryan%40tartaglia.biz@webdav.facebook.com/100008302478320/contacts/addressbook/</string>
		</dict>
	</dict>
	<key>lastKnownServerMeCardPath</key>
	<string>/100008302478320/contacts/addressbook/100008302478320.vcf</string>
	<key>name</key>
	<string>Facebook</string>
	<key>principalInfo</key>
	<dict>
		<key>DAV::displayname</key>
		<string></string>
		<key>DAV::principal-URL</key>
		<string>https://ryan%40tartaglia.biz@webdav.facebook.com/100008302478320/</string>
		<key>urn:ietf:params:xml:ns:carddav:addressbook-home-set</key>
		<array>
			<string>https://ryan%40tartaglia.biz@webdav.facebook.com/100008302478320/contacts/</string>
		</array>
	</dict>
	<key>searchable</key>
	<false/>
	<key>serverName</key>
	<string>webdav.facebook.com</string>
	<key>serverRootPath</key>
	<string>/100008302478320/</string>
	<key>servername</key>
	<string>https://webdav.facebook.com/100008302478320/</string>
	<key>useSSL</key>
	<true/>
	<key>userName</key>
	<string>ryan@tartaglia.biz</string>
	<key>username</key>
	<string>ryan@tartaglia.biz</string>
</dict>
</plist>
